* {
    font-size: 1rem;
}

body {
    width: auto;
}

.box-shadow {
    box-shadow: 10px 10px 5px #aaaaaa;
}

#loginContainer {
    width: 50%;
    height: auto;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border: 3px solid black;
    border-radius: 20px;
    margin: auto;
}

.loginInputBar {
    color: black;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    border: 3px solid black;
    transition: 0.2s;
}

.loginInputBar:hover {
    transform: scale(1.05);
}

.buttonStyle {
    color: white;
    background-color: grey;
    border-radius: 5px solid black;
    border-radius: 20px;
    transition: 0.2s;
    height: 50px;
    text-align: center;
}

.buttonStyle:hover {
    transform: scale(1.05);
}

.buttonStyle:active {
    color: aqua;
}

#errorContainer {
    background-color: grey;
    color: white;
    border: 3px solid black;
    margin: 15px auto auto auto;
    padding: 10px;
    border-radius: 20px;
    display: none;
}

#statusText {
    font-size: 1.2rem;
    font-weight: bold;
}

.errorBorder {
    border: 3px solid red;
}

#createAccount {
    margin: 10px;
    width: 150px;
}

#SignInButton {
    margin: 10px;
    width: 150px;
}

#buttonContainers {
    margin: auto;
}

#label {
    font-size: 1.2rem;
}